<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <h1>Ceo's</h1> -->
    <%- include('partials/head') %> 
</head>

<body>
    <%- include('partials/nav') %> 
    <!-- <title>
        <%= title %>
    </title>
    <a href="/">Home</a>
    <a href="/ceo-list">CEO List</a> -->
    <h3><%= ceo.name %></h3>
    <p><%= ceo.year %></p>
    <p><%= ceo.slug %></p>



</body>

</html>